@abdc:registry = "https://common.repositories.cloud.sap/artifactory/api/npm/build.milestones.npm/"
@scs:registry = "https://common.repositories.cloud.sap/artifactory/api/npm/build.milestones.npm/"
@six:registry = "https://common.repositories.cloud.sap/artifactory/api/npm/build.milestones.npm/"
@value-experience-design:registry = "https://common.repositories.cloud.sap/artifactory/api/npm/build.milestones.npm/"
//common.repositories.cloud.sap/artifactory/api/npm/build.milestones.npm/:_authToken=${PIPER_VAULTCREDENTIAL_ARTIFACTORYTOKEN}
