.privacyWrap {
  position: absolute;
  top: 3.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  border-radius: 4.5rem 4.5rem 0rem 0rem;
  background: rgb(from rgb(3, 0, 18) r g b / 70%);
  backdrop-filter: blur(45px);
  z-index: 5;

  & ul {
    list-style: disc;
    margin-left: 1rem;
  }
  & > span {
    overflow: auto;
  }
}

.privacyTitle {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 130%;

  --libella-icon-color: var(--sap-brand-white);
  --libella-icon-size: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
