.wrap {
  border-radius: 2rem;
  display: grid;
  place-items: center;
  gap: 1.5rem;
  color: var(--sap-brand-blue-10, #1a3e8a);
  margin: 1rem;
  text-align: center;
}

.wrap > span {
  line-height: 130%;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 400;
}

.cardBorder,
.card {
  grid-area: 1 / 1;
  width: 100%;
  max-width: 60.5rem;
  border-radius: 2rem;
}

.cardBorder {
  border: 1px solid var(--sap-brand-white, #fff);
  transform: translate(-0.75rem, 0.75rem);
  background: transparent;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.card {
  background: white;
  padding: 1.25rem;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .wrap {
    border-radius: 3rem;
    gap: 3.5rem;
    margin: 3.5rem;
  }

  .cardBorder,
  .card {
    border-radius: 4.5rem;
  }

  .cardBorder {
    transform: translate(-1.25rem, 1.25rem);
  }

  .card {
    padding: 3.5rem;
    gap: 1.5rem;
  }
}
