.header {
  padding-top: 2rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  font-size: var(--ion-font-size-primary-heading-2);
  gap: 0.5rem;
  & img,
  & button {
    width: 6.25rem;
    height: auto;
  }
  & > p:first-of-type {
    font-weight: 500;
  }
  & > p:last-of-type {
    font-weight: 300;
  }
}
